{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>{{ .Site.Title }}</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}
<p align="left"><div style="align:justify;padding-left:200px;padding-right:200px;padding-bottom:40px">Associate of The Royal Society for Public Health, UK</br>Founder of Kapani IT Systems and Solutions</br>Member of the European AI Alliance</br></br><div style="align:justify;padding-left:50px;padding-right:50px">Currently my research interests are Electronic Health Records and its regulatory aspects; along with Biobanking, Medical Ethics, Patient Data Privacy, and the application of artificial intelligence of big data in healthcare research/systems.</div></div></p>
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
